<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>controllers.InsertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controllers.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controllers.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controllers.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListUserServlet</servlet-name>
        <servlet-class>controllers.DeleteListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controllers.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDetailServlet</servlet-name>
        <servlet-class>controllers.MovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerMovieServlet</servlet-name>
        <servlet-class>controllers.ManagerMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <servlet-class>controllers.UpdateMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMovieServlet</servlet-name>
        <servlet-class>controllers.InsertMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>controllers.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListMovieServlet</servlet-name>
        <servlet-class>controllers.DeleteListMovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/insertuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListUserServlet</servlet-name>
        <url-pattern>/deletelistuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDetailServlet</servlet-name>
        <url-pattern>/moviedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerMovieServlet</servlet-name>
        <url-pattern>/managemovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <url-pattern>/updatemovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMovieServlet</servlet-name>
        <url-pattern>/insertmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/deletemovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListMovieServlet</servlet-name>
        <url-pattern>/deletelistmovie</url-pattern>
    </servlet-mapping>
</web-app>
